body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}
.content{
<<<<<<< HEAD
	margin: auto;
	width:100%
}
.links{
  display: flex;
}
.links a{
	border:3px solid pink;
	margin :2px;
}
p a{
	text-decoration: none;
	color: grey;
}

  margin: auto;
  width:80%;
}
>>>>>>> 3dc2f0f31f1e93b5818c1e5dcd6fd9e8acdd70f